<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap" rel="stylesheet">

<div class="editor">
    <div class="toolbar">
        <div>
            <button mat-button color="accent" style="width: 100%;
                text-align: start;
                padding-left: 10px;
                padding-right: 0px;" (click)="editName(this.currentTitle)">
                <mat-icon>edit</mat-icon>
                <span style="margin-left: 10px;margin-right: 10px;">
                    {{this.currentTitle}}
                </span>
            </button>
        </div>
        <div>
            <button (click)="format('bold')" mat-icon-button>
                <mat-icon>format_bold</mat-icon>
            </button>
            <button (click)="format('italic')" mat-icon-button>
                <mat-icon>format_italic</mat-icon>
            </button>
            <button (click)="format('underline')" mat-icon-button>
                <mat-icon>format_underlined</mat-icon>
            </button>
        </div>
        <div>
            <button (click)="format('justifyleft')" mat-icon-button style="color: slategray;">
                <mat-icon>
                    format_align_left</mat-icon>
            </button>
            <button (click)="format('justifycenter')" mat-icon-button style="color: slategray;">
                <mat-icon>
                    format_align_center</mat-icon>
            </button>
            <button (click)="format('justifyright')" mat-icon-button style="color: slategray;">
                <mat-icon>format_align_right</mat-icon>
            </button>
        </div>
        <div>
            <div style="margin-left: 1px;margin-bottom: 5px;">
                <button mat-icon-button [matMenuTriggerFor]="menuFont">
                    <mat-icon>format_shapes</mat-icon>
                </button>
                <mat-menu #menuFont="matMenu">
                    <button mat-menu-item (click)="format('fontname', $event.srcElement.innerText)">
                        <span style="font-family: Arial, Helvetica, sans-serif">Arial</span>
                    </button>
                    <button mat-menu-item (click)="format('fontname', $event.srcElement.innerText)">
                        <span style="font-family: 'Times New Roman', Times, serif;">Times New Roman</span>
                    </button>
                    <button mat-menu-item (click)="format('fontname', $event.srcElement.innerText)">
                        <span style="font-family: 'Courier New', Courier, monospace">Courier New</span>
                    </button>
                </mat-menu>
                <button mat-icon-button [matMenuTriggerFor]="menuFontColor">
                    <mat-icon style="color: darkorange;">format_color_text</mat-icon>
                </button>
                <mat-menu #menuFontColor="matMenu">
                    <button mat-menu-item (click)="format('forecolor', 'darkorange')">
                        <div class="square" style="background-color: darkorange;"></div>
                    </button>
                    <button mat-menu-item (click)="format('forecolor', 'darkcyan')">
                        <div class="square" style="background-color: darkcyan;"></div>
                    </button>
                    <button mat-menu-item (click)="format('forecolor', 'dodgerblue')">
                        <div class="square" style="background-color: dodgerblue;"></div>
                    </button>
                </mat-menu>
                <button mat-icon-button (click)="createLink($event)">
                    <mat-icon style="color: dodgerblue;">insert_link</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div id="editor" contenteditable="true" (input)="textChangeEvent($event)" (keydown)="textTab($event)"
        [innerHTML]="this.currentText | safe:'html'">
    </div>
</div>