#editor3 {
    width: 21cm;
    height: 40%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding-top: 2.5cm;
    padding-bottom: 2.5cm;
    /* padding-left: 4cm; */
    /* padding-right: 2.5cm; */
    /* margin: 1cm auto; */
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    resize: none;
    background-color: #2d2d2b;
    color: #f6f5f0e0;
    line-height: 27px;
    border: #2d2d2b;
    overflow: auto;
    scrollbar-color: #f6f5f043 #2d2d2b;
    scrollbar-width: thin;
    white-space: pre-wrap;
    outline:none;
  }