<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap" rel="stylesheet">

<div class="row">
    <div class="column" style="background-color:black;  color: #f6f5f0e0;">
        <div class="contents">
            <h2>Welcome to Editron</h2>
            <p>A simple to use web-based rich-text editor</p>
            <p>and a screenwriting software</p>
            <button mat-flat-button color="warn" (click)="navigate()">Start Writing</button>
            <p style="padding-top: 50px;"><a href="https://www.mintbean.io/meets/817b12c6-cd0a-42a5-bac6-6d6311be7327">Developed for the Mintbean JS Editor Hackathon</a></p>
            <p style="font-style: italic;">For optimal performance, please use Google Chrome</p>
            <p style="font-style: italic;font-size: x-small;">This project is still under development and you may experience bugs, especially with the screenwriter</p>
            <p style="font-style: italic;"><a href="https://github.com/iAM9/Edytor">Github</a></p>
        </div>
    </div>
    <div class="column" style="background-color:#2d2d2b;">
        <img src="assets/img/Ji2t1TYvPj.gif" alt="Yes">
        <div class="contents">
        </div>
    </div>
</div>