<mat-sidenav-container class="example-container">

    <mat-sidenav  #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
    (closed)="events.push('close!')">
        <mat-icon>list</mat-icon>
        <mat-icon>list</mat-icon>
        <mat-icon>list</mat-icon>
    </mat-sidenav>
    <mat-sidenav-content class="contents">
        <button mat-mini-fab color="accent" (click)="sidenav.toggle()" class="editor-toggle">
            <mat-icon>wysiwyg</mat-icon>
        </button>
        <app-text-editor
            (textChange)="textChange($event)">
        </app-text-editor>
    </mat-sidenav-content>
</mat-sidenav-container>