<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap" rel="stylesheet">

<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
        (closed)="events.push('close!')">
        <div class="heading">
            <div [ngSwitch]="activeView">
                <div *ngSwitchCase="ActiveView.TextEditor">
                    Text Docs
                </div>
                <div *ngSwitchCase="ActiveView.ScriptEditor">
                    Screenplays
                </div>
            </div>
        </div>
        <div class="doc-list">
            <div [ngSwitch]="activeView">
                <div *ngSwitchCase="ActiveView.TextEditor">
                    <mat-list-item *ngFor="let doc of textDocumentList">
                        <div class="doc-item">
                            <div mat-line>
                                <button mat-button color="accent" (click)="openDoc(doc)"
                                    style="width: 85%;text-align: start;" [disabled]="isSaving">
                                    <mat-icon>description</mat-icon>
                                    <span style="margin-left: 20px;" [ngClass]="{'selection': currentTextDocument?.id === doc?.id}">{{doc?.title}}</span>
                                    <span mat-line style="font-size: 12px;font-style: italic;margin-left: 12px;">Saved: {{doc.updatedAt | date}}</span>
                                </button>
                                <button mat-icon-button style="color: gray;" (click)="delDoc(doc)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-list-item>
                </div>
                <div *ngSwitchCase="ActiveView.ScriptEditor">
                    <mat-list-item *ngFor="let doc of scriptDocumentList">
                        <div class="doc-item">
                            <div mat-line>
                                <button mat-button color="accent" (click)="openScr(doc)"
                                    style="width: 85%;text-align: start;" [disabled]="isSaving">
                                    <mat-icon>description</mat-icon>
                                    <span style="margin-left: 20px;" [ngClass]="{'selection': currentScriptDocument?.id === doc?.id}">{{doc?.title}}</span>
                                    <span mat-line style="font-size: 12px;font-style: italic;margin-left: 12px;">Saved: {{doc.updatedAt |
                                        date}}</span>
                                </button>
                                <button mat-icon-button style="color: gray;" (click)="delScr(doc)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-list-item>
                </div>
            </div>
        </div>
        <div>
            <div>
                <span>
                    <div>
                        <div [ngSwitch]="activeView">
                            <div *ngSwitchCase="ActiveView.TextEditor">
                                <button mat-mini-fab color="accent" class="add-doc" (click)="createDoc()" [disabled]="isSaving"
                                matTooltip="Create New Document">
                                <mat-icon>add</mat-icon>
                            </button>
                            </div>
                            <div *ngSwitchCase="ActiveView.ScriptEditor">
                                <button mat-mini-fab color="accent" class="add-doc" (click)="createScript()" [disabled]="isSaving"
                                matTooltip="Create New Document">
                                <mat-icon>add</mat-icon>
                            </button>
                            </div>
                        </div>
                    </div>

                </span>
                <span>
                    <div >
                        <div [ngSwitch]="activeView">
                            <div *ngSwitchCase="ActiveView.TextEditor">
                                <button mat-mini-fab color="accent" class="switch-editor" (click)="toggleEditor()"
                                [disabled]="isSaving" matTooltip="Switch To Screenwriter">
                                <mat-icon>wysiwyg</mat-icon>
                            </button>
                            </div>
                            <div *ngSwitchCase="ActiveView.ScriptEditor">
                                <button mat-mini-fab color="accent" class="switch-editor" (click)="toggleEditor()"
                                [disabled]="isSaving" matTooltip="Switch To Text Editor">
                                <mat-icon>wysiwyg</mat-icon>
                            </button>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="contents">
        <button mat-mini-fab color="accent" (click)="sidenav.toggle()" class="sidenav-toggle">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="status-area">
            <div *ngIf="isSaving">
                <!-- <mat-spinner color="accent" [diameter]="20"></mat-spinner> -->
                <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
            
            </div>
            <div *ngIf="!isSaving">
                <div [ngSwitch]="activeView">
                    <div *ngSwitchCase="ActiveView.TextEditor">
                        Last saved: {{this.currentTextDocument?.updatedAt}}
                    </div>
                    <div *ngSwitchCase="ActiveView.ScriptEditor">
                        Last saved: {{this.currentScriptDocument?.updatedAt}}
                    </div>
                </div>
            </div>
        </div>
        <div [ngSwitch]="activeView">
            <div *ngSwitchCase="ActiveView.TextEditor">
                <app-text-editor [currentText]="currentText" [currentTitle]="currentTitle"
                    [currentTextDocument]="currentTextDocument" (textChange)="textChange($event)"
                    (titleChange)="titleChange($event)">
                </app-text-editor>
            </div>
            <div *ngSwitchCase="ActiveView.ScriptEditor">
                <app-script-editor 
                    [currentScriptText]="currentScriptText"
                    [currentScriptTitle]="currentScriptTitle"
                    [currentScriptDocument]="currentScriptDocument"
                    (scriptChange)="scriptChange($event)"
                    (saveScript)="saveScript($event)"
                    (titleChange)="scrTitleChange($event)">
                </app-script-editor>
            </div>
        </div>
        <div style="position: absolute;left: 50%;top: 50%;opacity: 0.5;" *ngIf="isOpening">
            <mat-spinner color="accent" [diameter]="50"></mat-spinner>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>